<launch>
  <arg name="racecar_version" />
  <arg name="joy_teleop_config"
       default="$(find donkey_joy)/config/joy_teleop.yaml" />

  <rosparam file="$(arg joy_teleop_config)" command="load" />

  <node pkg="joy" type="joy_node" name="joy_node" />

  <node pkg="donkey_joy" type="joy_teleop.py" name="joy_teleop" />

</launch>
